 <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
    height: 550px;
    margin-top: 0px; 
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      margin-top: 0px;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
        margin-top: 0px;
      }
      .row.content {
      height:auto;
      } 
    }
    #footer 
    {
      bottom: 0;
      position: absolute;
      height: 7%;
      width: 100%;
    }

    th {
      padding: 5px;
      border: 1px solid black;
    }

    table {
      border: 1px solid black;
      margin-left: 25%;
      margin-top: 10%;
    }

    td {
      text-align: center;
      border: 1px solid black;
      padding: 2px;
    }

    .side_headings {
      text-align: left;
    }

    #table_header {
      text-align: center;
      font-size: 2em;
    }
  </style>